<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52876240428-qnj5vctg7ofbofece64abq9i593admk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52876240428-qnj5vctg7ofbofece64abq9i593admk1</string>
	<key>API_KEY</key>
	<string>AIzaSyB9U8S-NK_ptSEi-3a66qFIo0EMeAjvUiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>52876240428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios38ru.nbTest</string>
	<key>PROJECT_ID</key>
	<string>nbtest-11cc8</string>
	<key>STORAGE_BUCKET</key>
	<string>nbtest-11cc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52876240428:ios:75ffe7a925417dd6add389</string>
	<key>DATABASE_URL</key>
	<string>https://nbtest-11cc8.firebaseio.com</string>
</dict>
</plist>